<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">


</head>
<body>
<header id="header">
    <div class="container">
        <h1 id="head-in" style="display: inline;">ISSUE TRACKING SYSTEM</h1>
</header>
<br>
<br>
<br>
    <h1>PRODUCTS</h1>
    <table border="1px" style="color: darkblue;">
        <thead>
        <tr><td id="proName" name="proName">Project name</td>
            <td id="proDec" name="proDec">Project Description</td>
            <td id="startDate" name="proQuantity">Start Date</td>
            <td id="proPri" name="proPri" >End Date</td> </tr>
        </thead>
        <tbody>
        <tr th:each="dataItem : ${prjlist}">
            <td  th:text="${dataItem.ProjectName}"></td>
            <td  th:text="${dataItem.Description}"></td>
            <td  th:text="${#dates.format(dataItem.StartDate, 'yyyy-MM-dd')}"></td>
            <td  th:text="${#dates.format(dataItem.EndDate, 'yyyy-MM-dd')}"></td>
        </tr>
        </tbody>
</body>
</html>